.our__title{
    text-align: center;
    color: white;
    margin-top: 100px;
}
.des__title{
    color: white;
}
.des__des{
    color: gray;
    width: 789px;
    margin-top: 20px;

}
.design{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    img{
        margin-right: 50px;
    }
  
}
.design1{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    div{
        margin-left: -90px;
    }
    
}
.design2{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    img{
        margin-right: 50px;
    }
}
.design3{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    div{
        margin-left: -90px;
    }
}
.design4{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    img{
        margin-right: 50px;
    }
}
