.footer{
    margin-top: 80px;
    background-color: rgba(13, 17, 23, 1);
}
.footer__log{
   

    
    h1{
        color: white;
        margin-left: 98px;
        margin-top: -76px;
        
    }
}
.sats{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
.foot{
    display: flex;
    align-items: center;
  
}
.company__sevis{
    padding-top: 199px;
    display: flex;
    justify-content: space-between;
}
.box1{
    margin-left: 100px;
    h1{
        color: white;
        
    }
    p{
        color: white;
    }
}
.box2{
    margin-left: 100px;
    h1{
        color: white;
        
    }
    p{
        color: white;
    }
}
.box3{
    margin-left: 100px;
    h1{
        color: white;
        
    }
    p{
        color: white;
    }
}
.allright{
    text-align: center;
    color: white;
    margin-top: 100px;
   padding-bottom: 50px;
}

