*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: black;
}
ul,ol{
   
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    width: 90px;
    height: 90px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}